_.sh
_.html
_.svg
_.png
_.jpg
_.gif
_.log
_.md
_.nix
_.csv
_.txt
_.yml
_.sh
_.snap
node_modules
coverage
package.json
/scripts
/build
/public
favicon.ico
svgLib.js
Dockerfile
Dockerfile.dev
.dockerignore
.env
.example.env
.gitignore
.eslintrc
.prettierrc
.next
dist
